<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

<!--fxLayout="row wrap" shows items in rows for larger screens
and fxLayout.lt-md="column" shows items in column for smaller screen-->

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list style="color: floralwhite;">
          <mat-list-item style="color: floralwhite;" routerLink='/home'><a mat-button>Home</a></mat-list-item>
          <mat-list-item style="color: floralwhite;" routerLink='/about'><a mat-button>About</a></mat-list-item>
          <mat-list-item style="color: floralwhite;" routerLink='/menu'><a mat-button>Menu</a></mat-list-item>
          <mat-list-item style="color: floralwhite;" routerLink='/contactus'><a mat-button>Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
          Radisson Blu<br> Pali Hills, Mumbai<br> INDIA<br> <br>
          <i class="fa fa-phone"></i>: +91 1234 5678<br> <br>
          <i class="fa fa-fax"></i>: +91 8765 4321<br> <br>
          <i class="fa fa-envelope"></i>:
          <a>confusion@food.net</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2018 Ristorante Con Fusion</p>
  </div>
</div>