.full-width {
    width: 95%;
}

.half-width {
    width: 45%;
}

.form-size {
    width: 75%;
}

mat-slider {
  width: 300px;
  color: yellow;
}
::ng-deep .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: black;
}